html {
    height: 100%;
    }

body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://wallpapercave.com/wp/wp2445707.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timer {
    position:absolute;
	left:50%;
	top:35%;
	margin-left:-210px;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-size: 100px;
}

.buttonStart {
    position: absolute;
    left:50%;
	top:42%;
    margin: 100px 0 0 -70px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border: 1px solid #00b4d8;
    border-radius: 5px;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    width: 200px;
    display: inherit;

}

.buttonStart:hover {
    background: #00b4d8;
    color: #000000;
    border: none;
}

.buttonPause {
    position: absolute;
    left:50%;
	top:42%;
    margin: 100px 0 0 -70px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border: 1px solid #00b4d8;
    border-radius: 5px;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    width: 200px;
    display: none;

}

.buttonPause:hover {
    background: #00b4d8;
    color: #000000;
    border: none;
}

.buttonReset {
    position: absolute;
    left:50%;
	top:42%;
    margin: 100px 0 0 -70px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border: 1px solid #00b4d8;
    border-radius: 5px;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    width: 200px;
    display: none;

}

.buttonReset:hover {
    background: #00b4d8;
    color: #000000;
    border: none;
}

div {
    background: #ffffff;
    border: none;
    border-radius: 20px;
    margin: 20px 0 0 20px;
    height: 900px;
    width: 500px;
}

.fas{
    margin: 5px 0 0 5px;
}

.fab {
    margin-top: 50px;
    color: #24292e;
}

.fab:hover {
    color: #000000;
}

.back {
    margin: 10px 0 0 0px;
    display: none;
}

.buttonBack {
    display: none;
}

h3 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding-top: 30px;
}

ul {
    font-family: 'Roboto Mono', monospace;
    padding-top: 25px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: decimal;
    margin-left: 10px;
}

.whiteRow {
    background: #ffffff;
    width: 400px;
}

.grayRow {
    background: #d8d5db;
    width: 400px;
}

.records {
    padding-top: 25px;
    text-align: center;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

input {
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    font-weight: bold;
}

.up {
    display: none;
}

@media screen and (max-width: 768px) {

    .timer {
        font-size: 50px;
        margin-left: -120px;
    }

    .buttonStart {
        position: relative;
        margin-top: 300px;
        left: 0;
        margin-left: 82px;
        border: 1px solid #00b4d8;
    }

    .buttonPause {
        position: relative;
        margin-top: 300px;
        left: 0;
        margin-left: 82px;
        border: 1px solid #00b4d8;
    }

    .buttonReset {
        position: relative;
        margin-top: 300px;
        left: 0;
        margin-left: 82px;
        border: 1px solid #00b4d8;
    }

    .up {
        display: flex;
        margin-top: 160px;
        padding-top: 10px;
        background: none;
        border: none;
    }

    body {
        background-position: right 47% bottom 45%;
        height: 0vh;
        z-index: 1;
    }

    .whiteRow {
        background: #ffffff;
        width: 260px;
    }
    
    .grayRow {
        background: #d8d5db;
        width: 260px;
    }

    .records {
        padding-top: 20px;
    }

    #subtitle {
        display: none;
    }

    #git{
        display: none;
    }

    div {
        display: none;
        position: absolute;
        top: 0;
        width: 340px;
        height: 700px;
        margin-left: 10px;
    }

    .back {
        display: inherit;
    }

    .buttonBack {
        display: inherit;
        background: none;
        border: none;
    }
    
}

@media screen and (min-height: 700px){

    .buttonStart {

        margin-top: 370px;
    }

    .buttonPause {

        margin-top: 370px;
    }

    .buttonReset {

        margin-top: 370px;
    }

    .up {

        margin-top: 200px;
    }
}
