@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');

:root {
    --btn-color-primary: hsl(0, 0%, 0%);
    --btn-color-secundary: hsl(190,100%,42%);
    --whiteColor: hsl(0, 0%, 100%);
    --grayColor: hsl(210, 14%, 89%);

    --default-font: 'Roboto Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--default-font);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), 
    url('https://wallpapercave.com/wp/wp2445707.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: var(--whiteColor);
    border: none;
    border-radius: 20px;
    height: 90vh;
    width: 500px;
    margin: 2% 0 0 1.5%;
}

main {
    width: 75%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.timer, .timer span {
    color: var(--whiteColor);
    font-size: 6rem;
    font-weight: 500;
}

main button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #00b4d8;
    border-radius: 5px;
    padding: 18px;
    background: var(--btn-color-primary);
    color: var(--whiteColor);
    width: 200px;
}

main button:hover {
    background: var(--btn-color-secundary);
    color: var(--btn-color-primary);
}

main ion-icon { margin-top: 6px; }

.buttonStart { display: inherit; }

.buttonPause { display: none; }

.buttonReset { display: none; }

.buttonStart:hover { border: none; }

.buttonPause:hover { border: none; }

.buttonReset:hover { border: none; }

.buttonBack { display: none; }

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

ul {
    font-size: 1.2rem;
    font-weight: bold;
    list-style-type: decimal;
}

li {
    background: #f8f9fa;
    width: 400px;
}

li:nth-child(2n) { background: #ced4da; }

p {
    color: var(--btn-color-primary);
    font-weight: 700;
}

input {
    color: var(--btn-color-primary);
    background: var(--grayColor);
    width: 100px;
    border: none;
    font-weight: 700;
}

section ion-icon {
    font-size: 64px;
    color: #343a40;
}

section ion-icon:hover { color: var(--btn-color-primary); }

.showTable { display: none; }

/*@media screen and (max-width: 768px) {

    .timer {
        font-size: 50px;
        margin-left: -120px;
    }

    .buttonStart {
        position: relative;
        margin-top: 300px;
        left: 0;
        margin-left: 82px;
        border: 1px solid #00b4d8;
    }

    .buttonPause {
        position: relative;
        margin-top: 300px;
        left: 0;
        margin-left: 82px;
        border: 1px solid #00b4d8;
    }

    .buttonReset {
        position: relative;
        margin-top: 300px;
        left: 0;
        margin-left: 82px;
        border: 1px solid #00b4d8;
    }

    .showTable {
        display: flex;
        margin-top: 160px;
        padding-top: 10px;
        background: none;
        border: none;
    }

    body {
        background-position: right 47% bottom 45%;
        height: 0vh;
        z-index: 1;
    }

    .whiteRow {
        background: #ffffff;
        width: 260px;
    }
    
    .grayRow {
        background: #d8d5db;
        width: 260px;
    }

    p {
        padding-top: 20px;
    }

    #subtitle {
        display: none;
    }

    #git{
        display: none;
    }

    section {
        display: none;
        position: absolute;
        top: 0;
        width: 340px;
        height: 700px;
        margin-left: 10px;
    }

    .back {
        display: inherit;
    }

    .buttonBack {
        display: inherit;
        background: none;
        border: none;
    }
    
}

@media screen and (min-height: 700px) and (max-height: 800px){

    .buttonStart {

        margin-top: 370px;
    }

    .buttonPause {

        margin-top: 370px;
    }

    .buttonReset {

        margin-top: 370px;
    }

    .up {

        margin-top: 200px;
    }
}*/
