@keyframes color-change {
    0% {background: var(--color-primary);}
    
    100% {background: var(--color-terciary); color: var(--color-primary);}
  }

@keyframes color-change-icon {
  0% {color: #343a40;}
    
  100% {color: var(--color-secondary);}
}
  