.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: var(--white-color);
    border: none;
    border-radius: 20px;
    height: 90vh;
    width: 500px;
    font-size: 1.5rem; 
    font-weight: 500;
}

.box h3 {font-size: 1.2em; font-weight: 700;}

ul {
    border: none;
    width: 80%;
    font-size: 0.5em;
    list-style-type: decimal;
}

li {width: 100%;}

li:nth-child(2n) {
    background-color: #e2eafc;
}

p {color: var(--color-secondary); font-weight: 700;}

input {
    background-color: #e2eafc;
    border: none;
    border-radius: 5px;
    color: var(--color-secondary);
    width: 100px;
    font-weight: 500;
}

.box ion-icon {font-size: 64px; color: #343a40; cursor: pointer;}

.box ion-icon:hover {animation: color-change-icon .2s linear alternate both;}

.back { 
    display: none;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    font-size: 32px;
}

.showTable {display: none;}